@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Tektur:wght@400..900&display=swap);

:root{
    --bgc: #111542; /*dark blue for background*/
    --neon-blue: #02f8fc;
    --neon-pink: #f800f1;
    --base-font: #d1d8e0;   
}

.Name{
    font-size: 60px;
    /* border: 3px solid var(--neon-blue);
    border-radius: 20px; */
    color: var(--neon-pink);
    text-shadow: 0 0 15px #f800f0b0, 0 0 30px #f800f07e;
    transition: text-shadow 0.2s ease-in-out;
 
    &:hover {
    text-shadow: 0 0 15px #f800f1, 0 0 30px #f800f092, 0 0 50px #f800f04a;
}
}


.Punchline{
    font-size: 30px;
    /* border: 3px solid var(--neon-blue);
    border-radius: 20px; */
    color: var(--neon-blue);
    transition: text-shadow 0.2s ease-in-out;

    &:hover {
        text-shadow: 0 0 15px #02f8fc;
    }
}

body {
    font-family: "tektur", sans-serif;
    font-weight: bolder;    
    background-color: #111542;
    
}

.Entry{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-right: 20%;
}

/* body *{
    margin: 3px;
} */